body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: url(../images/background.jpg) no-repeat center center fixed;
	background-size: cover;
}

.custom-navbar {
  position: relative;
  text-align: center;
  top:10px;
  width: 100%;
}

.nav-item {
  position: relative;
  font-size: 20px;
  vertical-align: top 10px;
  padding-right: 20px;
  color: black;
}

